h1 {
    display: block;
    text-align: center;
    font-size: 48px;
    text-shadow: 3px 3px 1px lightgreen;
    padding: 0px;
    text-transform: uppercase;
    text-align: center;
    border: 5px solid darkblue;
  
    background-color: coral;
    background-size: 75px 100px;
    font-family: 'Kalam';
}

h2 {
  font-size: 24px;
  text-align: center;
  border: 5px solid darkblue;
  background-color: coral;
    background-size: 75px 100px;
    font-family: 'Kalam';
}

p {
  font-size: 14px;
}

h3 {
  font-size: 16px;
}

ol {
  font-size: 12px;
}

h4{
  font-size: 11px;
}

html {
 
}

body {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 0.5vw;
  font-size: 1.2vw;
  font-family: 'Courier New', Courier, monospace;
color: white;
}

img {
  width: 100px;
  height: 100px;
}

a{
 text-emphasis: bold;
 color: cyan;
 font-family: 'Kalam';
}

body{ 
 background-image: url(Images/Stars.JPG) ;
background-size: cover;
}
