h1 {
  display: block;
  text-align: center;
  font-size: 48px;
  text-shadow: 3px 0px 1px #7e9faf;
  padding: 5px;
  text-transform: uppercase;
  border: 5px solid #222930;
  border-radius: 4rem;
  background-color: #1818182e;
  background-size: 75px 100px;
  font-family: "Kalam", serif;
}

h2 {
  font-size: 24px;
  text-align: center;
  border: 2px solid #30385242;
  /* background-color: #21293f; */
  /* background-size: 75px 100px; */
  background-image: line;
  background-image: linear-gradient(45deg, black, #58553d96);
  padding: 10px 0px;
  font-family: "Kalam", serif;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 16px;
}

ol {
  font-size: 12px;
}

li {
  padding: 5px;
  font-size: 14px;
}

h4 {
  font-size: 11px;
}

html {
}

body {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 0.5vw;
  font-size: 1.2vw;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

img {
  width: 100px;
  height: 100px;
}

a {
  font-weight: 600;
  color: #ffffffe3;
  font-size: 20px;
  padding: 8px 6px;
  font-family: ui-serif;
  text-decoration: none;
  letter-spacing: 0.2px;
}

body {
  background-image: url(Images/Stars.JPG);
  background-size: cover;
}

footer {
  display: block;
  font-family: "minecraftregular", serif;
  font-size: 60%;
  text-align: center;
  color: rgb(108, 108, 108);
  padding: 0;
  margin-top: 0;
}

.grid-container {
  display: grid;
  margin-top: 5vh;
  margin-left: 1vw;
  margin-right: 1vh;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.grid-item {
  text-align: center;
  margin: 2vw auto;
}

.discord-widget {
  background-color: transparent;
  border: none;
  display: block;
  height: 40vh;
  width: 50vh;
}

#pre-date,
#date,
#post-date {
  display: none;
}

#countdown {
  margin: 0;
  font-size: 5vw;
  text-align: center;
}

.countdown-button {
  width: 147px;
  height: 45px;
  background-image: linear-gradient(45deg, black, #567dffd7);
  border: 2px solid #5835353d;
  border-radius: 3rem;
  margin-top: 1rem;
}
